.internet-checker {
    position: fixed;
    top: 20px;
    right: 20px;
    z-index: 9999;
    max-width: 300px;
    width: 100%;

    // @media (max-width: 768px) {
    //     top: 10px;
    //     right: 10px;
    //     left: 10px;
    //     max-width: none;
    // }
}
