*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
a{
    text-decoration: none !important;
}
.app_content{
    margin: 16px 10px 0px;
    padding: 16px;
    background-color: #fff;
    border-radius: 8px;
    min-height: calc(100vh - 120px);
}

.loader{
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}