.profile{
    padding: 15px !important;
    margin: 25px;
}
.profile h3{
    margin-bottom: 35px;
    font-weight: 600;
}
.personalInfo_header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}
.personalInfo_header button{
    display: flex;
    gap: 10px;
}

.image_name_container{
    width: fit-content;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 15px;
    flex-wrap: wrap;
}
.presonalInfo_data{
    margin-top: 20px;
}

.presonalInfo_data p{
    color: var(--Grey) !important;
}

.presonalInfo_data h6{
    margin-top: -10px;
    font-size: 17px;
    color: var(#1E1E1E);
    background-color: var(--Dashboard_bg);
    padding: 15px 10px;
    border-radius: 4px;
}
/* 
.presonalInfo_data input{
    padding: 4px 40px 4px 5px;
    margin-top: -10px;
} */

.clinic_address{
    border: 1px solid #ccccccb9;
    padding: 4px 10px 50px ;
    border-radius: 5px;
}

.edit_btn{
    display: flex;
    justify-content: end;
    margin-top: 50px;
}
.edit_btn a:hover{
    color: #fff;
}
.personalInfo_header input{
    width: 500px;
    background-color: antiquewhite;
    
}