.chatBox{
    height: 80vh;
    position: relative;
    border: 1px solid #c9c9c9a6;
    border-radius: 3px;
}

.chatBox_header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 18px;
    /* margin-bottom: 20px; */
    border-bottom: 1px solid #c9c9c9a6;
}

.chatBox_header_txt{
    display: flex;
    align-items: center;
    gap: 10px;
}

.chatBox_footer{
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    padding: 18px;
    border-top: 1px solid #c9c9c9a6;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
    background-color: #fff;
}

.chatBox_footer input{
    flex: 1;
    outline: none;
    padding: 7px 12px;
    border: 1px solid #c9c9c9a6;
    border-radius: 4px;
}


.send_btn_container{
    background-color: var(--Main_Color);
    color: var(--MainLight_text);
    padding: 6px 14px;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.msg_container{
    height: 63vh;
    margin-bottom: 50px;
    overflow-y: scroll;
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 20px;
    background-image: url(../../../assets/chat_bg2.jpeg);
    background-size: contain;
    background-blend-mode: overlay;
    background-color: rgba(132, 132, 132, 0.168);
    
}

.msg_container::-webkit-scrollbar{
    display: none;
}

.receiver_msg, .sender_msg{
    display: flex;
    flex-direction: column;
    gap: 15px;
    padding: 10px 15px 0px;
    
    width: fit-content;      
    min-width: 100px;        
    max-width: 500px;       
    
    word-wrap: break-word;  
    white-space: normal;
}

.sender_msg{
    align-items: end;
    background-color: var(--Main_Color);
    color: var(--MainLight_text);
    margin-left: auto;
    border-radius: 8px 0px 8px 8px;
}

.receiver_msg{
    background-color: #dedededf;
    color: var(--MainDark_text);
    border-radius: 0px 8px 8px;
}
.receiver_msg_time{
    margin-left: auto;
    color: var(--Grey);
}

.noChatSelected{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
    gap: 20px;
    background-color: #f6f6f6a6;
}